{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Академия развития интеллекта</title>
    {% block css %}
    <link rel="stylesheet" href={% static "mainHome/css/main.css" %} />
    {% endblock %}
</head>

<body>
{% block navmenu %}
    <div class="white-line">
        <a href="{% url 'mainHome:home' %}">
            <img src={% static 'mainHome/images/icon.jpg' %} alt="Логотип" class="home-icon">
        </a>
    </div>
    <header class="full-width-nav">
        <nav>
            <ul class="nav-list">
                <li><a href="{% url 'mainHome:about' %}" class="nav-btn">О нас</a></li>
                <li><a href="{% url 'mainHome:programs' %}" class="nav-btn">Программы</a></li>
                <li><a href="{% url 'mainHome:events' %}" class="nav-btn">События</a></li>
                <li><a href="{% url 'mainHome:news' %}"class="nav-btn">Новости</a></li>
                <li><a href="{% url 'mainHome:blog' %}"  class="nav-btn">Блог</a></li>
                <li><a href="{% url 'mainHome:franchise' %}" class="nav-btn">Франшиза</a></li>
                <li><a href="{% url 'mainHome:contacts' %}" class="nav-btn">Контакты</a></li>
                {% if request.user.is_authenticated %}
                <li><a href="{% url 'gamePlatform:platform' %}" class="nav-btn">Платформа</a></li>
                {% else %}
                <li><a href="{% url 'mainHome:auth' %}" class="nav-btn">Войти</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
{% endblock navmenu %}
{% block content %}

{% endblock %}

</body>
</html>