{% extends 'mainHome/Base.html' %}
{% load static %}

{% block content %}
<div class="content-container">
    <main>
        <section class="hero-section">
            <div class="hero-container">
                <div class="hero-content">
                    <h2>Академия</h2>
                    <h1>Развития Интеллекта</h1>
                    <p>Присоединяйтесь! Пробный урок - Бесплатно</p>
                    <button class="hero-button">ЗАПИСАТЬСЯ</button>
                </div>
            </div>
        </section>

        <!-- Программы -->
        <section class="programs-section">
            <div class="container">
                <h3 class="section-title-white">Программы</h3>
                <div class="programs-grid">

                    <div class="program-card">
                        <div class="card-content">
                            <h4>ЗАНЯТИЯ В ЦЕНТРАХ</h4>
                            <p>Классический формат занятий с использованием современных технологий</p>
                        </div>
                        <div class="card-icon"></div>
                        <button class="program-button">...Курсов</button>
                    </div>
                    <div class="program-card">
                        <div class="card-content">
                            <h4>ОНЛАЙН ОБУЧЕНИЕ</h4>
                            <p>Индивидуальный и удобный для каждого темп обучения. Занимайтесь из дома на интерактивной платформе</p>
                        </div>
                        <div class="card-icon"></div>
                        <button class="program-button">...Курсов</button>
                    </div>

                    <div class="program-card">
                        <div class="card-content">
                            <h4>РЕПЕТИТОРЫ 1-11 КЛАСС</h4>
                            <p>Индивидуальные занятия по школьной программе c репетиторами, подготовка к ОГЭ и ЕГЭ</p>
                        </div>
                        <div class="card-icon"></div>
                        <button class="program-button">...Курсов</button>
                    </div>

                    <div class="program-card">
                        <div class="card-content">
                            <h4>ЛОГОПЕДЫ</h4>
                            <p>Подберем для вас индивидуального логопеда и организуем удобные онлайн-занятия с гарантией результата.</p>
                        </div>
                        <div class="card-icon"></div>
                        <button class="program-button">...Курсов</button>
                    </div>
                </div>
            </div>
        </section>

        <!-- Статистика -->
        <section class="stats-section">
            <div class="container">
                <h3 class="section-title-blue">...СЕГОДНЯ - ЭТО:</h3>
                <p class="stats-subtitle">(подсчёт ведется в режиме реального времени)</p>
                <div class="stats-grid">
                    <div class="stat-item">
                        <img src={% static "mainHome/images/person.png" %} alt="Прошедших обучение">
                        <h4>...</h4>
                        <p>Прошедших обучение</p>
                    </div>
                    
                    <div class="stat-item">
                        <img src={% static "mainHome/images/_LocationIcon_.png" %} alt="Аттестованных педагогов">
                        <h4>...</h4>
                        <p>Аттестованных педагогов</p>
                    </div>
                    
                    <div class="stat-item">
                        <img src={% static "mainHome/images/_LightbulbIcon_.png" %} alt="Стран">
                        <h4>...</h4>
                        <p>Стран</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Сертификаты -->
        <section class="certificates-section">
            <div class="container">
                <h3 class="section-title-white">Свидетельства и сертификаты</h3>
                <div class="carousel">
                    <div class="carousel-item"></div>
                    <div class="carousel-item"></div>
                    <div class="carousel-item"></div>
                    <div class="carousel-item"></div>
                </div>
            </div>
        </section>

        <!-- Блог -->
        <section class="blog-section">
            <div class="container">
                <h3 class="section-title-blue">ИНТЕРЕСНОЕ В БЛОГЕ</h3>
                <div class="slider-container">
                    <button class="slide-btn left-btn">&larr;</button>
                    <div class="cards-container">
                        <div class="blog-card"></div>
                        <div class="blog-card"></div>
                        <div class="blog-card"></div>
                    </div>
                    <button class="slide-btn right-btn">&rarr;</button>
                </div>
            </div>
        </section>
    </main>
</div>
<!-- Футер -->
<footer class="footer">
    <div class="container">
        <div class="footer-grid">
            <div class="footer-block">
                <span class="logo">Logo</span>
                <p class="copyright">Все права на товарный знак защищены. Копирование материалов без согласия авторов проекта запрещено ИП Васильева Татьяна Игоревна ИНН 860324040540 ОГРН 312860329300037</p>
            </div>
            
            <div class="footer-block">
                <h4 class="footer-title">8 922 795 06 40</h4>
                <ul class="footer-list">
                    <li>Онлайн</li>
                    <li>Академия</li>
                    <li>Робототехника</li>
                    <li>Летний лагерь</li>
                </ul>
            </div>
            
            <div class="footer-block">
                <ul class="footer-list">
                    <li>Договор оферты</li>
                    <li>Политика конфиденциальности</li>
                    <li>Государственная лицензия</li>
                </ul>
            </div>
        </div>
        
        <hr class="footer-divider">
        
        <p class="footer-bottom">Сайт разработан ITCLAN - Digital Agency</p>
    </div>
</footer>
{% endblock %}